Chuds2Chads/bin/Debug/net9.0/Chuds2Chads.dll
Chuds2Chads/obj/Debug/net9.0/Chuds2Chads.GeneratedMSBuildEditorConfig.editorconfig
Chuds2Chads/obj/Debug/net9.0/Chuds2Chads.AssemblyInfoInputs.cache
Chuds2Chads/obj/Debug/net9.0/Chuds2Chads.AssemblyInfo.cs
Chuds2Chads/obj/Debug/net9.0/Chuds2Chads.assets.cache
